.signUp {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 460px;
  border: 1px solid #000;
  padding: 20px;
  align-items: center;
  margin: 160px auto;
  border-radius: 20px;
}

.signUp > h2 {
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.signUp > div {
  display: flex;
}

.signUp > div > input {
  font-size: 20px;
  padding: 10px;
  width: 235px;
}

.signUp > div > button {
  font-size: 16px;
  height: 50px;
  margin-top: 8px;
  padding: 0px 3px;
  border-radius: 5px;
  margin-left: 2px;
}

.signUp input {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  width: 300px;
}

.signUp > input:last-child {
  margin-top: 20px;
  width: 100px;
  padding: 4px 7px;
  border: 0;
  outline: 0;
  background-color: #0077B6;
  color: #fff;
}

